@page "/about"
<h3>About</h3>

<p>
    This is a sample project whose purpose is to show off both Blazor EditForms in a real working example as well as provide a use case to develop the <a href="https://github.com/SpiralAngle/SpiralAngle.Blazor.Extensions" target="_blank">SpiralAngle.Blazor.Extensions</a> library.
</p>


@code {

}
