@inherits LayoutComponentBase
@using BlazorFormSample.Client.User
 
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <UserBar></UserBar>
        <NavLink class="ml-4" href="about">
            About
        </NavLink>
        
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
<div class="fixed-bottom footer">
    A <a href="http://www.spiralangle.com/" target="_blank">Spiral Angle</a> project. Licensed under the <NavLink href="terms-and-conditions">MIT License.</NavLink>
</div>
